# Database
DATABASE_URL="postgresql://user:password@host:5432/database"

# GitHub OAuth - crie em https://github.com/settings/developers
GITHUB_CLIENT_ID="Ov23li3PsCL9OWNmGWE9"
GITHUB_CLIENT_SECRET="f46e5fc73424f2d6360fc283a8d486eb60998758"
GITHUB_CALLBACK_URL="https://backend-kanban-bhsz.onrender.com/auth/github/callback"

# JWT - gere uma chave segura (ex: openssl rand -base64 32)
JWT_SECRET="sua_chave_secreta_jwt"

# Frontend URL - para onde redirecionar após login
FRONTEND_URL="https://kanban-front.netlify.app/"
